.project-info {
    padding: 30px;
}
.project-items {
    min-height: 200px;
    background-color: #fff;
}
.project-items:nth-child(n+2) {
    margin-top: 30px;
}
.project-title {
    padding: 0 20px;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
}
.project-operation {
    font-size: 28px;
}
.project-detail {
    font-size: 24px;
    padding: 20px;
    line-height: 2.2;
    border-top: 1px solid #d0d5da;
    border-bottom: 1px solid #d0d5da;
}
.detail-title {
    color: #999;
}
.project-time {
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
    font-size: 24px;
    box-sizing: border-box;
    color: #999;
    display: flex;
    justify-content: space-between;
}