html,body{
    height: 100%;
    width: 100%;
    color: #333;
    font-size: 14px;
}
/* 头部 */
.header{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #1d87d1;
    color: #FFFFFF;
    padding-left: 80px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.header h3{
    font-size: 20px;
    font-weight: 400;
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif !important;
}
.management-contanier{
    /* height: 100%; */
    padding: 60px 80px 0 80px;
    box-sizing: border-box;
    /* overflow: hidden; */
    position: relative;
}
/* 主轴线 */
.main-axis{
    margin-top: 120px;
}
.main-axis .line{
    height: 4px;
    background: #ccc;
    position: relative;
}
.main-axis .line::before,.main-axis .line::after{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #1d87d1;
    border-radius: 50%;
    position: absolute;
    top: -15px;
}
.main-axis .line::before{
    background: #1d87d1;
    left: -5px;
}
.main-axis .line::after{
    background: #ccc;
    right: -5px;
}
/* 主体 */
.main-content{
    width: 100%;
    min-height: calc(100% - 90px);
    position: absolute;
    top: 90px;
    left: 0;
    padding-left: 200px;
    box-sizing: border-box;
    overflow: hidden;
}
.main-content .stage-item{
    float: left;
    width: 19%;
    height: 100%
}
.main-content .stage-item h4{
    font-size: 18px;
}
.main-content .stage-item .stage-item-content{
    margin-top: 60px;
    min-height: calc(100% - 104px);
    border-left: 3px solid #ccc;
    position: relative;
}
.main-content .stage-item .stage-item-content .big-circle{
    position: absolute;
    top: -30px;
    left: -36px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #666;
    text-align: center;
    font-size: 22px;
}
.main-content .stage-item .stage-item-content ul{
    padding-top: 100px;
}
.main-content .stage-item .stage-item-content li{
    position: relative;
    padding: 5px 40px 5px 30px;
}
.main-content .stage-item .stage-item-content li .small-circle{
    position: absolute;
    top: 0px;
    left: -16px;
    width: 30px;
    height: 30px;
    line-height: 70px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px #666;
}
.main-content .stage-item .stage-item-content li dt{
    font-size: 16px;
    margin-bottom: 10px;
}
.main-content .stage-item .stage-item-content li dd{
    padding-left: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}
.main-content .stage-item .stage-item-content li dd p{
    font-size: 14px;
    height: 35px;
    line-height: 35px; 
    padding: 0 10px;
}
.after-stage{
   background: #1d87d1;
   color: #fff;
}
.before-stage{
   background: #ccc;
   color: #fff;
}
.stage-ing{
   background: #ff9933;
   color: #fff;
}
.before-stage-text{
   background: #ccc;
   color: #666;
}