<div class="a-list-card">
    <div class="content">
        <div class="pull-right">
            <a data-type="location" title="定位" class="a-r-btn" data-id="{{id}}"><i class="fa fa-map-marker fa-2x"></i></a>
            <a data-type="analysis" title="分析" class="a-r-btn" data-id="{{id}}"><i class="fa fa-fire fa-2x"></i></a>
            <a data-type="export" id="exportBtn" style="display: none" title="导出"  class="a-r-btn" data-id="{{id}}"><i class='iconfont'>&#xe617;</i></a>
        </div>
        <div class="header">{{title}}</div>
        {{#existSrc src}}{{/existSrc}}
    </div>
</div>
