.li-icon {
	width: 6px;
	height: 6px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 4px 0;
}
.li-PARENT {
	background-color: #ec4242;
}
.li-SON {
	background-color: #378FCC;
}
table td {
	height: 20px;
	line-height: 19px;
	padding: 3px 8px;
	margin: 0;
	cursor: pointer;
}
table td .content {
	display: inline-block;
	padding: 0 5px;
}
table td:hover .content {
	background-color: #2167B9;
	color: white;
}
table td:active .content {
	background-color: #127CFC;
}
.ui-selected td .content {
	background-color: #114177;
	color: white;
}
.ui-selected td .content .li-icon {
	background-color: white;
}

.split {
	border-top: 1px solid #eee;
	border-bottom: 1px solid white;
}
#leftBar .title {
	padding-bottom: 0;
}
#leftBar .form-horizontal .control-group {
	margin-bottom: 5px;
}
#leftBar .form-horizontal .control-label {
	width: 50px;
}
#leftBar .form-horizontal .controls {
	margin-left: 60px;
}
#leftBar .form-horizontal select {
	width: 100%;
	padding: 2px;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
}