<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.msurveyplat.serviceol.core.mapper.DchyXmglXcslMapper">

        <!--分页获取所有的的合同登记备案项目信息-->
    <select id="queryBaXmXxsByPage" parameterType="map" resultType="map"></select>

    <!--根据修改时间和修改人获取备案项目信息-->
    <select id="queryBaXmByXgSjAndXgrByPage" parameterType="map" resultType="map"></select>
</mapper>