.mlk-container {
    padding: 0px;
    background-color: #fff;
    min-height: calc(100vh - 100px);
    border: 1px solid #d0d5da;
    margin-top: 0px!important;
    .list-title {
        height: 14px;
        line-height: 14px;
        border-left-width: 3px;
    }
    .guide-items {
        margin: 20px 10px 0;
        .guide-item {
            height: 42px;
            color: #333;
            line-height: 42px;
            border-bottom: 1px dotted #ccc;
        }
    }
}
.mlk-page {
    margin: 20px 10px 0;
}
.btn-operation:hover {
    background-color: #1d87d1;
    color: #fff;
    border-color: #1d87d1;
}