 
html, body {
    margin: 0;
    padding: 0;
    background-color: #eaedf1 !important;
}
@font-face {
    font-family: 'huakanglijin';
    src:url('../font/华康俪金黑W8_P.TTF') format('truetype')
}

/* 常用按钮样式 */
.bdc-container .bdc-green {
    color: #0f912d!important;
}

.bdc-container .bdc-red {
    color: #f24b43!important;
}

.bdc-major-btn {
    background-color: #1d87d1!important;
}

.bdc-major-btn:hover {
    background-color: #1675b8!important;
}

.bdc-secondary-btn {
    background-color: #f3f4f6!important;
    color: #666!important;
    border: 1px solid #d0d5da!important;
}

.bdc-secondary-btn:hover {
    color: #666!important;
}

.bdc-delete-btn {
    background-color: #f54743!important;
}

.btn-cancel {
    background-color: #f3f4f6!important;
    color: #333!important;
    border-color: #d0d5da!important;
}

.clear-margin * {
    margin: 0 !important;
}

.clear-padding {
    padding: 0 !important;
}

.clear-border {
    border: none !important;
}

.pointer {
    cursor: pointer;
}

.input-must {
    color: red;
    position: relative;
    top: 3px;
    right: 5px;
    font-style: normal;
}

.input-must-double-line {
    color: red;
    position: relative;
    top: 10px;
    right: 5px;
}

.position-relative {
    position: relative;
}
.position-right {
    position: absolute;
    right: 0;
    top: 0;
}
.position-left {
    position: absolute;
    left: 0;
    top: 0;
}
.font-color-666 {
    color: #666;
}
.cursor-pointer {
    cursor: pointer;
}
.color-bgc {
    background-color: #EAEDF1;
}
.height-100 {
    height: 100vh;
}

/* 公共样式 */

.ivu-page-item-active {
    background-color: #2d8cf0!important;
}
.ivu-page-item-active a, .ivu-page-item-active:hover a {
    color: #fff!important;
}
.font-sun {
    font-family: "SimSun";
}
.font-hei {
    font-family: "SimHei";
}
.font-color-999 {
    color: #999;
}
.font-color-tip {
    color: #D9001B;
}
.font-color-major {
    color: #1d87d1;
}
/* 修改查询中表单的默认样式 */
.search-form .ivu-input {
    border-radius: 2px;
}
.form-edit .ivu-input {
    border-radius: 2px;
}
.search-form .ivu-select-selection {
    border-radius: 2px;
}
.form-edit .ivu-select-selection {
    border-radius: 2px;
}
.form-edit .ivu-tree ul li {
    margin: 2px 0;
}

/* 修改iview公共弹框样式 */
.modal-base .ivu-modal-content {
    border-radius: 0;
}
.modal-base .ivu-modal-header {
    background-color: #f2f2f2;
    padding: 10px 16px;
}

/* 表单页面公共标题样式 */
.form-title {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    position: relative;
}
.form-title > .list-title {
    height: 14px;
    line-height: 14px;
    border-left: 3px solid #1d87d1;
    padding-left: 10px;
    margin-bottom: 10px;
}
.form-title .form-btn {
    position: absolute;
    top: 0;
    right: 5px;
}
.ivu-form-item-error-tip {
    display: none!important;
}
.bdc-hide {
    display: none;
}
.hide {
    display: none;
}
.submit-back {
    text-align: center;
    margin-top: 100px;
}
.line-dashed {
    width: 100%;
    border-bottom: 1px dashed #ccc;
}
.line-solid {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
/* 统一修改iview tabs样式 */
.application-view .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab {
    background: #fff;
    height: 50px;
    padding: 5px 25px 4px;
}
.application-view .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab-active {
    background: #2d8cf0;
    border-color: #2d8cf0;
    color: #fff;
    height: 50px;
}
.application-view .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-nav-container {
    height: 50px;
    line-height: 2.5;
    font-size: 15px;
}
/*  */
.section .section-title {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    color: #169BD5;
    font-size: 20px;
    font-weight: 700;
    padding-left: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.submit-success {
    width: 400px;
    text-align: center;
    margin: 140px auto;
}
.submit-back-left {
    width: 400px;
    text-align: center;
    margin-left: 300px;
    margin-top: 140px;
}
.ivu-message .ivu-message-notice-content {
    padding: 15px 25px;
    background-color: rgba(0,0,0,.6);
    color: #fff;
}
.ivu-message {
    top: 40%!important;
    transform: translateY(-50%);
}
.form-edit .ivu-form-item {
    width: 100%;
    min-height: 42px;
    line-height: 42px;
}
.ivu-btn {
    border-radius: 2px!important;
    height: 30px!important;
}

.main-btn-first {
    height: 34px!important;
    line-height: 34px!important;
    padding: 0 18px!important;
}
/* 统一表格样式 */
.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table-total, .layui-table-total tr, .layui-table[lay-even] tr:nth-child(even) {
    background-color: #f3f4f6;
}
.layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r, .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
    border-color: #d0d5da;
}
.ivu-tabs-nav .ivu-tabs-tab-active {
    color: #1d87d1!important;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #1d87d1;
}
.ivu-form-item {
    margin-bottom: 0!important;
}
.layui-form-select dl dd.layui-this {
    background-color: #1d87d1;
}
.requireStar .ivu-form-item-label:before{
	content: '*';
	display: inline-block;
	margin-right: 4px;
	line-height: 1;
	font-family: SimSun;
	font-size: 12px;
	color: #ed4014;
}
.ivu-message .ivu-icon {
    display: none!important;
}
.table .ivu-checkbox-checked .ivu-checkbox-inner:after {
    display:block;
    -ms-transform:rotate(45deg)scale(1);/* IE 9 */
    -moz-transform:rotate(45deg)scale(1);/* Firefox */
    -webkit-transform:rotate(45deg)scale(1);/* Safari 和 Chrome */
}
.table .ivu-checkbox-indeterminate .ivu-checkbox-inner:after {
    display:block;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
#app .ivu-form .ivu-form-item-label {
    padding: 10px 10px 10px 0;
}
#app .ivu-form .d-line-label .ivu-form-item-label {
    padding: 2px 10px 10px 0;
}
.layui-table-tips-c:before {
    right: 1px;
    top: -4px;
}
.bdc-content-title{
    height: 40px;
    line-height: 40px;
    background-color: #EAEDF1;
    position: relative;
}
.bdc-content-title>span{
    position: absolute;
    top: -1px;
    left: 0;
    width: 120px;
    /* height: 100%; */
    background-color: #fff;
    border-top: 3px solid #1d87d1;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    color: #1d87d1;
}
.bdc-location {
    line-height: 40px;
    width: 1200px;
    margin: 0 auto;
}
.bdc-location a,
.bdc-location span {
    color: #666 !important;
    font-size: 14px;
    visibility: visible;
}
.ivu-rate-star {
    margin-right: 2px!important;
    font-size: 18px!important;
}
.ivu-input {
    border-radius: 0!important;
}
.layui-table-cell {
    padding-right: 9px;
}
.layui-layer-dialog {
    min-width: 320px!important;
    height: 150px;
}
.layui-layer-title {
    height: 40px;
}
.layui-layer-dialog .layui-layer-btn {
    text-align: center;
}
.layui-layer-dialog .layui-layer-btn .layui-layer-btn0 {
    background-color: #1d87d1;
}
.layui-layer-dialog .layui-layer-btn .layui-layer-btn1 {
    background-color: #f3f4f6;
}
.layui-layer-dialog .layui-layer-btn a {
    height: 30px;
    line-height: 30px;
}
.layui-layer-msg {
    height: auto;
}
.colorNotGood {
    color: #f54743;
}
.select-by-step .ivu-tree-arrow {
    display: none;
}
.select-row-tree {
    display: flex;
    justify-content: flex-start;
}
.select-by-step .ivu-tree {
    margin-right: 20px;
}
.select-by-step .ivu-tree-children .ivu-tree-children .ivu-checkbox {
    display: none;
}
.select-by-step .ivu-tree-children .ivu-tree-children .ivu-tree-title {
    padding-left: 4px;
}
.select-by-step .ivu-tree-title .ivu-icon {
    font-family: "FontAwesome";
    color: #1d87d1;
}
.select-by-step .ivu-tree-title-selected, 
.select-by-step .ivu-tree-title-selected:hover,
.select-by-step .ivu-tree-title:hover {
    background-color: #e8f3fa;
}
.select-by-step .ivu-tree-children .ivu-tree-children li:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -7px;
    width: 0;
    height: 100%;
    border-left: 1px solid #dcdee2;
}
.select-by-step .ivu-tree-children .ivu-tree-children:nth-last-child(1) li:before{
    height: calc(100% - 11px);
}
.select-by-step .ivu-tree-children .ivu-tree-children li {
  position: relative;
}
.select-by-step .ivu-tree-children .ivu-tree-children li:after {
  content: '';
  position: absolute;
  top: 15px;
  left: -7px;
  width: 17px;
  height: 0;
  border-top: 1px solid #dcdee2;
}
.ivu-input[disabled], 
fieldset[disabled] .ivu-input {
    color: #515a6e!important;
}
.ivu-select-input[disabled] {
    color: #515a6e!important;
    -webkit-text-fill-color: #515a6e!important;
}
.ivu-select-single .ivu-select-selection .ivu-select-placeholder, 
.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    color: #515a6e!important;
}
.select-row-tree .ivu-checkbox-indeterminate .ivu-checkbox-inner:after {
    left: 1px;
    top: 5px;
}
/* 上传附件 */
.layui-table td, .layui-table th,
.file-data-table tr th, .file-data-table tr td,
.bdc-data-table tr th,
.bdc-data-table tr td {
    padding: 5px;
    min-height: 24px;
    line-height: 24px;
    font-size: 14px !important;
    height: 24px!important;
}
.file-data-table{
    width: 100%;
}
.file-data-table tr th,td{
    border:1px solid #e6e6e6;
    text-align: center;
    position: relative;
    padding: 5px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
    color:#666;
}
.file-data-table thead tr{
    background-color: #f3f4f6;
}
#fileTableData .ivu-input {
    height: 29px;
}
.required-star {
    display: inline-block;
    margin-right: 10px;
    color: #f24b43
}
.table-view .layui-table thead tr {
    background-color: #1d87d1;
    color: #fff;
}
.table-view .layui-table td, 
.table-view .layui-table th, 
.table-view .layui-table-col-set, 
.table-view .layui-table-fixed-r, 
.table-view .layui-table-grid-down, 
.table-view .layui-table-header, 
.table-view .layui-table-page, 
.table-view .layui-table-tips-main, 
.table-view .layui-table-tool, 
.table-view .layui-table-total, 
.table-view .layui-table-view, 
.table-view .layui-table[lay-skin=line], 
.table-view .layui-table[lay-skin=row],
.table-view .page-table {
    border-color: #8ec2e0!important;
}
input::-webkit-input-placeholder{
    color:#515a6e!important;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#515a6e!important;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#515a6e!important;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#515a6e!important;
}