.apply-tip {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    .apply-enter {
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        color: rgba(29, 135, 209, 0.8);
    }
}
.mlk-tip-img {
    line-height: 90px;
}
.mlk-tip-img img {
    width: 90px;
}
