<div class="monitor-header">
    在线用户数:<span class="number">{{size}}</span>
    <ul class="nav nav-tabs pull-right monitor-view-ul">
        <li role="presentation" class="nav-tab active">
            <a href="#listPane" role="tab" data-toggle="tab" title="列表显示" class="monitor-view-btn"><i class="fa fa-list"></i></a>
        </li>
        <li role="presentation" class="nav-tab">
            <a href="#groupPane" role="tab" data-toggle="tab" title="分组显示" class="monitor-view-btn"><i class="fa fa-align-center"></i></a>
        </li>
    </ul>
    <a class="btn btn-primary btn-sm monitor-appoint" id="appointBtn">实时指派</a>
</div>