{{#result}}
<div class="row" style="padding-top: 10px;">
    <div class="col-xs-3 text-right">
        <label class="lableTitle">{{name}}</label>
    </div>
    <div class="col-xs-7">
        <input type="text" class="form-control" placeholder="请填写打印服务地址"
               value="{{value}}"/>
    </div>
    <div class="col-xs-2">
        <button type="button" class="close pull-left lableTitle" aria-label="Close" data-id="{{key}}">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{{/result}}