<div class="container-fluid" style="padding: 10px; width: 98%;">
    <form id="customForm" class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-3 text-right">
                <label class="lableTitle">文本元素键名</label>
            </div>
            <div class="col-xs-9">
                <input type="text" name="key" class="form-control" placeholder="请填写文本元素键名"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-3 text-right">
                <label class="lableTitle">文本元素名称</label>
            </div>
            <div class="col-xs-9">
                <input type="text" name="name" class="form-control" placeholder="请填写文本元素名称" value=""/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-3 text-right">
                <label class="lableTitle">文本元素默认值</label>
            </div>
            <div class="col-xs-9">
                <textarea class="form-control" rows="3" name="value" placeholder="请填写文本元素默认值"></textarea>
            </div>
        </div>
        <br>

        <div class="form-group">
            <div class="col-xs-12 text-center">
                <button type="submit" class="btn btn-primary" id="propsBtn">保存</button>
            </div>
        </div>
    </form>

</div>
